[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '>3.5'

[packages]
Flask = '2.0.1'
geopy = '2.2.0'
mysql-connector-python = '8.0.26'

[dev-packages]
Cython = '0.29.24'
