<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width inital-scale=1">
        <title>{{page_title}}</title>
        <style>
            .banner {
                width: 100%;
                height: 100vh;
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.70)), url("{{random_bg_photo}}");
                background-size: cover;
                background-position: center;
            }
        </style>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>

    <body>
        <div class="banner no-selection">
            <div class="navbar">
                <div class="logo"><a href="{{main_page}}">Gezinti<span>.ist</span></a></div>
                <ul>
                    <li><a href="{{login_url}}">{{login_btn}}</a></li>
                    <li><a href="{{register_url}}">{{register_btn}}</a></li>
                    <li><a href="">{{docs_btn}}</a></li>
                    <li><a href="">Github</a></li>
                </ul>
            </div>
        </div>

        <div class="content no-selection">
            <h2>{{main_text_title}}</h2>
            <h4>{{main_text}}</h4>

            <div>
                <button class="learn_btn" type="button"><span></span>{{learn_btn}}</button>
            </div>
        </div>

    </body>

</html>